body {
  margin: 0;
}

.no-scroll {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera, Edge */
}
